openapi: 3.0.3
info:
  title: "Laravel API Documentation"
  description: ""
  version: 1.0.0
servers:
  - url: "http://preprod.marriator-api.fivecorners.ru"
tags:
  - name: Client
    description: ""
  - name: Common
    description: ""
  - name: Endpoints
    description: ""
  - name: Integration
    description: ""
  - name: Manager
    description: ""
  - name: "Personal area"
    description: ""
  - name: Questionnaire
    description: ""
  - name: Recruiter
    description: ""
  - name: Registration
    description: ""
  - name: Settings
    description: ""
  - name: Specialist
    description: ""
  - name: Universal
    description: ""
  - name: "Yandex Smena"
    description: ""
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: "You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>."
security:
  - default: []
paths:
  /api/personal/createOrder:
    post:
      summary: "Создать заказ."
      operationId: ""
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 391
                  selfEmployed: true
                  status: 1
                  place:
                    id: 1
                    name: "ТЦ Мега"
                    latitude: 55.75
                    longitude: 37.62
                    address_kladr: "7700000000000"
                    logo: null
                    region:
                      id: 1
                      name: Москва
                    brand:
                      id: 5
                      name: "Brand X"
                      logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                      description: "Описание бренда"
                  user:
                    id: 5
                    phone: "+79000000000"
                    email: null
                    logo: null
                    roles:
                      - id: 2
                        name: client
                    name: Иван
                  orderActivities:
                    - id: 1
                      viewActivity:
                        id: 1
                        name: Промоутер
                        detailName: Промоутер
                        previewText: null
                        logo: null
                        traveling: false
                        standard: null
                      count: 3
                      dateStart: "2026-07-10T09:00:00.000000Z"
                      dateEnd: "2026-07-10T18:00:00.000000Z"
                      needFoto: true
                      dateActivity: []
                  acceptUser: null
                  statistic: []
                  project:
                    id: 1
                    name: "Project A"
                    dateStart: "2026-01-01"
                    dateEnd: "2026-12-31"
                    timeStart: "09:00"
                    timeEnd: "18:00"
                    brand:
                      - id: 5
                        name: "Brand X"
                        logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                        description: "Описание бренда"
                  createdAt: "2026-07-07T14:00:00.000000Z"
                properties:
                  id:
                    type: integer
                    example: 391
                  selfEmployed:
                    type: boolean
                    example: true
                  status:
                    type: integer
                    example: 1
                  place:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: "ТЦ Мега"
                      latitude:
                        type: number
                        example: 55.75
                      longitude:
                        type: number
                        example: 37.62
                      address_kladr:
                        type: string
                        example: "7700000000000"
                      logo:
                        type: string
                        example: null
                        nullable: true
                      region:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Москва
                      brand:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 5
                          name:
                            type: string
                            example: "Brand X"
                          logo:
                            type: string
                            example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                          description:
                            type: string
                            example: "Описание бренда"
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 5
                      phone:
                        type: string
                        example: "+79000000000"
                      email:
                        type: string
                        example: null
                        nullable: true
                      logo:
                        type: string
                        example: null
                        nullable: true
                      roles:
                        type: array
                        example:
                          - id: 2
                            name: client
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            name:
                              type: string
                              example: client
                      name:
                        type: string
                        example: Иван
                  orderActivities:
                    type: array
                    example:
                      - id: 1
                        viewActivity:
                          id: 1
                          name: Промоутер
                          detailName: Промоутер
                          previewText: null
                          logo: null
                          traveling: false
                          standard: null
                        count: 3
                        dateStart: "2026-07-10T09:00:00.000000Z"
                        dateEnd: "2026-07-10T18:00:00.000000Z"
                        needFoto: true
                        dateActivity: []
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        viewActivity:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: Промоутер
                            detailName:
                              type: string
                              example: Промоутер
                            previewText:
                              type: string
                              example: null
                              nullable: true
                            logo:
                              type: string
                              example: null
                              nullable: true
                            traveling:
                              type: boolean
                              example: false
                            standard:
                              type: string
                              example: null
                              nullable: true
                        count:
                          type: integer
                          example: 3
                        dateStart:
                          type: string
                          example: "2026-07-10T09:00:00.000000Z"
                        dateEnd:
                          type: string
                          example: "2026-07-10T18:00:00.000000Z"
                        needFoto:
                          type: boolean
                          example: true
                        dateActivity:
                          type: array
                          example: []
                  acceptUser:
                    type: string
                    example: null
                    nullable: true
                  statistic:
                    type: array
                    example: []
                  project:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: "Project A"
                      dateStart:
                        type: string
                        example: "2026-01-01"
                      dateEnd:
                        type: string
                        example: "2026-12-31"
                      timeStart:
                        type: string
                        example: "09:00"
                      timeEnd:
                        type: string
                        example: "18:00"
                      brand:
                        type: array
                        example:
                          - id: 5
                            name: "Brand X"
                            logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description: "Описание бренда"
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 5
                            name:
                              type: string
                              example: "Brand X"
                            logo:
                              type: string
                              example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description:
                              type: string
                              example: "Описание бренда"
                  createdAt:
                    type: string
                    example: "2026-07-07T14:00:00.000000Z"
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Role not allowed."
                properties:
                  message:
                    type: string
                    example: "Role not allowed."
        422:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "The given data was invalid."
                  errors: []
                properties:
                  message:
                    type: string
                    example: "The given data was invalid."
                  errors:
                    type: array
                    example: []
      tags:
        - Client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                selfEmployed:
                  type: boolean
                  description: "Признак самозанятости."
                  example: true
              required:
                - selfEmployed
  /api/personal/cancelOrder:
    post:
      summary: "Отменить заказ."
      operationId: ""
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                properties:
                  success:
                    type: boolean
                    example: true
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Role not allowed."
                properties:
                  message:
                    type: string
                    example: "Role not allowed."
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  error: true
                properties:
                  error:
                    type: boolean
                    example: true
        422:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "The given data was invalid."
                  errors: []
                properties:
                  message:
                    type: string
                    example: "The given data was invalid."
                  errors:
                    type: array
                    example: []
      tags:
        - Client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: integer
                  description: "Идентификатор заказа для отмены."
                  example: 391
              required:
                - orderId
  /api/personal/sendOrder:
    post:
      summary: "Отправить заказ в работу."
      operationId: ""
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                properties:
                  success:
                    type: boolean
                    example: true
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Role not allowed."
                properties:
                  message:
                    type: string
                    example: "Role not allowed."
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  error: true
                properties:
                  error:
                    type: boolean
                    example: true
        422:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "The given data was invalid."
                  errors: []
                properties:
                  message:
                    type: string
                    example: "The given data was invalid."
                  errors:
                    type: array
                    example: []
      tags:
        - Client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: integer
                  description: "Идентификатор заказа."
                  example: 391
              required:
                - orderId
  /api/personal/updateOrder:
    post:
      summary: "Обновить заказ."
      operationId: ""
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 391
                  selfEmployed: true
                  status: 1
                  place:
                    id: 1
                    name: "ТЦ Мега"
                    latitude: 55.75
                    longitude: 37.62
                    address_kladr: "7700000000000"
                    logo: null
                    region:
                      id: 1
                      name: Москва
                    brand:
                      id: 5
                      name: "Brand X"
                      logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                      description: "Описание бренда"
                  user:
                    id: 5
                    phone: "+79000000000"
                    email: null
                    logo: null
                    roles:
                      - id: 2
                        name: client
                    name: Иван
                  orderActivities:
                    - id: 1
                      viewActivity:
                        id: 1
                        name: Промоутер
                        detailName: Промоутер
                        previewText: null
                        logo: null
                        traveling: false
                        standard: null
                      count: 3
                      dateStart: "2026-07-10T09:00:00.000000Z"
                      dateEnd: "2026-07-10T18:00:00.000000Z"
                      needFoto: true
                      dateActivity: []
                  acceptUser: null
                  statistic: []
                  project:
                    id: 1
                    name: "Project A"
                    dateStart: "2026-01-01"
                    dateEnd: "2026-12-31"
                    timeStart: "09:00"
                    timeEnd: "18:00"
                    brand:
                      - id: 5
                        name: "Brand X"
                        logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                        description: "Описание бренда"
                  createdAt: "2026-07-07T14:00:00.000000Z"
                properties:
                  id:
                    type: integer
                    example: 391
                  selfEmployed:
                    type: boolean
                    example: true
                  status:
                    type: integer
                    example: 1
                  place:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: "ТЦ Мега"
                      latitude:
                        type: number
                        example: 55.75
                      longitude:
                        type: number
                        example: 37.62
                      address_kladr:
                        type: string
                        example: "7700000000000"
                      logo:
                        type: string
                        example: null
                        nullable: true
                      region:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Москва
                      brand:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 5
                          name:
                            type: string
                            example: "Brand X"
                          logo:
                            type: string
                            example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                          description:
                            type: string
                            example: "Описание бренда"
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 5
                      phone:
                        type: string
                        example: "+79000000000"
                      email:
                        type: string
                        example: null
                        nullable: true
                      logo:
                        type: string
                        example: null
                        nullable: true
                      roles:
                        type: array
                        example:
                          - id: 2
                            name: client
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            name:
                              type: string
                              example: client
                      name:
                        type: string
                        example: Иван
                  orderActivities:
                    type: array
                    example:
                      - id: 1
                        viewActivity:
                          id: 1
                          name: Промоутер
                          detailName: Промоутер
                          previewText: null
                          logo: null
                          traveling: false
                          standard: null
                        count: 3
                        dateStart: "2026-07-10T09:00:00.000000Z"
                        dateEnd: "2026-07-10T18:00:00.000000Z"
                        needFoto: true
                        dateActivity: []
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        viewActivity:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: Промоутер
                            detailName:
                              type: string
                              example: Промоутер
                            previewText:
                              type: string
                              example: null
                              nullable: true
                            logo:
                              type: string
                              example: null
                              nullable: true
                            traveling:
                              type: boolean
                              example: false
                            standard:
                              type: string
                              example: null
                              nullable: true
                        count:
                          type: integer
                          example: 3
                        dateStart:
                          type: string
                          example: "2026-07-10T09:00:00.000000Z"
                        dateEnd:
                          type: string
                          example: "2026-07-10T18:00:00.000000Z"
                        needFoto:
                          type: boolean
                          example: true
                        dateActivity:
                          type: array
                          example: []
                  acceptUser:
                    type: string
                    example: null
                    nullable: true
                  statistic:
                    type: array
                    example: []
                  project:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: "Project A"
                      dateStart:
                        type: string
                        example: "2026-01-01"
                      dateEnd:
                        type: string
                        example: "2026-12-31"
                      timeStart:
                        type: string
                        example: "09:00"
                      timeEnd:
                        type: string
                        example: "18:00"
                      brand:
                        type: array
                        example:
                          - id: 5
                            name: "Brand X"
                            logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description: "Описание бренда"
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 5
                            name:
                              type: string
                              example: "Brand X"
                            logo:
                              type: string
                              example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description:
                              type: string
                              example: "Описание бренда"
                  createdAt:
                    type: string
                    example: "2026-07-07T14:00:00.000000Z"
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Role not allowed."
                properties:
                  message:
                    type: string
                    example: "Role not allowed."
        422:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "The given data was invalid."
                  errors: []
                properties:
                  message:
                    type: string
                    example: "The given data was invalid."
                  errors:
                    type: array
                    example: []
      tags:
        - Client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                placeId:
                  type: integer
                  description: "Идентификатор площадки. Must match an existing stored value."
                  example: 1
                projectId:
                  type: integer
                  description: "Идентификатор проекта. Must match an existing stored value."
                  example: 1
                selfEmployed:
                  type: boolean
                  description: "Признак самозанятости."
                  example: true
                orderId:
                  type: integer
                  description: "Идентификатор заказа."
                  example: 391
              required:
                - selfEmployed
                - orderId
  /api/personal/createOrderActivity:
    post:
      summary: "Создать активность в заказе."
      operationId: ""
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 391
                  selfEmployed: true
                  status: 1
                  place:
                    id: 1
                    name: "ТЦ Мега"
                    latitude: 55.75
                    longitude: 37.62
                    address_kladr: "7700000000000"
                    logo: null
                    region:
                      id: 1
                      name: Москва
                    brand:
                      id: 5
                      name: "Brand X"
                      logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                      description: "Описание бренда"
                  user:
                    id: 5
                    phone: "+79000000000"
                    email: null
                    logo: null
                    roles:
                      - id: 2
                        name: client
                    name: Иван
                  orderActivities:
                    - id: 1
                      viewActivity:
                        id: 1
                        name: Промоутер
                        detailName: Промоутер
                        previewText: null
                        logo: null
                        traveling: false
                        standard: null
                      count: 3
                      dateStart: "2026-07-10T09:00:00.000000Z"
                      dateEnd: "2026-07-10T18:00:00.000000Z"
                      needFoto: true
                      dateActivity: []
                  acceptUser: null
                  statistic: []
                  project:
                    id: 1
                    name: "Project A"
                    dateStart: "2026-01-01"
                    dateEnd: "2026-12-31"
                    timeStart: "09:00"
                    timeEnd: "18:00"
                    brand:
                      - id: 5
                        name: "Brand X"
                        logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                        description: "Описание бренда"
                  createdAt: "2026-07-07T14:00:00.000000Z"
                properties:
                  id:
                    type: integer
                    example: 391
                  selfEmployed:
                    type: boolean
                    example: true
                  status:
                    type: integer
                    example: 1
                  place:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: "ТЦ Мега"
                      latitude:
                        type: number
                        example: 55.75
                      longitude:
                        type: number
                        example: 37.62
                      address_kladr:
                        type: string
                        example: "7700000000000"
                      logo:
                        type: string
                        example: null
                        nullable: true
                      region:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Москва
                      brand:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 5
                          name:
                            type: string
                            example: "Brand X"
                          logo:
                            type: string
                            example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                          description:
                            type: string
                            example: "Описание бренда"
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 5
                      phone:
                        type: string
                        example: "+79000000000"
                      email:
                        type: string
                        example: null
                        nullable: true
                      logo:
                        type: string
                        example: null
                        nullable: true
                      roles:
                        type: array
                        example:
                          - id: 2
                            name: client
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            name:
                              type: string
                              example: client
                      name:
                        type: string
                        example: Иван
                  orderActivities:
                    type: array
                    example:
                      - id: 1
                        viewActivity:
                          id: 1
                          name: Промоутер
                          detailName: Промоутер
                          previewText: null
                          logo: null
                          traveling: false
                          standard: null
                        count: 3
                        dateStart: "2026-07-10T09:00:00.000000Z"
                        dateEnd: "2026-07-10T18:00:00.000000Z"
                        needFoto: true
                        dateActivity: []
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        viewActivity:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: Промоутер
                            detailName:
                              type: string
                              example: Промоутер
                            previewText:
                              type: string
                              example: null
                              nullable: true
                            logo:
                              type: string
                              example: null
                              nullable: true
                            traveling:
                              type: boolean
                              example: false
                            standard:
                              type: string
                              example: null
                              nullable: true
                        count:
                          type: integer
                          example: 3
                        dateStart:
                          type: string
                          example: "2026-07-10T09:00:00.000000Z"
                        dateEnd:
                          type: string
                          example: "2026-07-10T18:00:00.000000Z"
                        needFoto:
                          type: boolean
                          example: true
                        dateActivity:
                          type: array
                          example: []
                  acceptUser:
                    type: string
                    example: null
                    nullable: true
                  statistic:
                    type: array
                    example: []
                  project:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: "Project A"
                      dateStart:
                        type: string
                        example: "2026-01-01"
                      dateEnd:
                        type: string
                        example: "2026-12-31"
                      timeStart:
                        type: string
                        example: "09:00"
                      timeEnd:
                        type: string
                        example: "18:00"
                      brand:
                        type: array
                        example:
                          - id: 5
                            name: "Brand X"
                            logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description: "Описание бренда"
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 5
                            name:
                              type: string
                              example: "Brand X"
                            logo:
                              type: string
                              example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description:
                              type: string
                              example: "Описание бренда"
                  createdAt:
                    type: string
                    example: "2026-07-07T14:00:00.000000Z"
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Role not allowed."
                properties:
                  message:
                    type: string
                    example: "Role not allowed."
        422:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "The given data was invalid."
                  errors: []
                properties:
                  message:
                    type: string
                    example: "The given data was invalid."
                  errors:
                    type: array
                    example: []
      tags:
        - Client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: integer
                  description: "Идентификатор заказа."
                  example: 391
                viewActivityId:
                  type: string
                  description: "Идентификатор вида деятельности. Must match an existing stored value."
                  example: 1
                count:
                  type: integer
                  description: "Количество. Must be at least 1."
                  example: 3
                dateStart:
                  type: string
                  description: "Дата начала активности. Must be a valid date. Must be a date after <code>now</code>."
                  example: "2026-07-10T09:00:00Z"
                dateEnd:
                  type: string
                  description: "Дата окончания активности. Must be a valid date. Must be a date after <code>dateStart</code>."
                  example: "2026-07-10T18:00:00Z"
                needFoto:
                  type: boolean
                  description: "Требуется ли фото."
                  example: true
                dateActivity:
                  type: array
                  description: "Массив временных интервалов активности. Must have at least 1 items."
                  example:
                    - timeStart: "2026-07-10T09:00:00Z"
                      timeEnd: "2026-07-10T18:00:00Z"
                      placeIds:
                        - 1
                  items:
                    type: object
                    properties:
                      timeStart:
                        type: string
                        description: "Время начала интервала активности. Must be a valid date. Must be a date after <code>now</code>."
                        example: "2026-07-10T09:00:00Z"
                      timeEnd:
                        type: string
                        description: "Время окончания интервала активности. Must be a valid date. Must be a date after <code>timeStart</code>."
                        example: "2026-07-10T18:00:00Z"
                      placeIds:
                        type: array
                        description: "Идентификатор площадки. Must match an existing stored value."
                        example:
                          - 1
                        items:
                          type: string
                    required:
                      - timeStart
                      - timeEnd
                      - placeIds
              required:
                - orderId
                - viewActivityId
                - count
                - dateStart
                - dateEnd
                - needFoto
  /api/personal/updateOrderActivity:
    post:
      summary: "Обновить активность в заказе."
      operationId: ""
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 391
                  selfEmployed: true
                  status: 1
                  place:
                    id: 1
                    name: "ТЦ Мега"
                    latitude: 55.75
                    longitude: 37.62
                    address_kladr: "7700000000000"
                    logo: null
                    region:
                      id: 1
                      name: Москва
                    brand:
                      id: 5
                      name: "Brand X"
                      logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                      description: "Описание бренда"
                  user:
                    id: 5
                    phone: "+79000000000"
                    email: null
                    logo: null
                    roles:
                      - id: 2
                        name: client
                    name: Иван
                  orderActivities:
                    - id: 1
                      viewActivity:
                        id: 1
                        name: Промоутер
                        detailName: Промоутер
                        previewText: null
                        logo: null
                        traveling: false
                        standard: null
                      count: 3
                      dateStart: "2026-07-10T09:00:00.000000Z"
                      dateEnd: "2026-07-10T18:00:00.000000Z"
                      needFoto: true
                      dateActivity: []
                  acceptUser: null
                  statistic: []
                  project:
                    id: 1
                    name: "Project A"
                    dateStart: "2026-01-01"
                    dateEnd: "2026-12-31"
                    timeStart: "09:00"
                    timeEnd: "18:00"
                    brand:
                      - id: 5
                        name: "Brand X"
                        logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                        description: "Описание бренда"
                  createdAt: "2026-07-07T14:00:00.000000Z"
                properties:
                  id:
                    type: integer
                    example: 391
                  selfEmployed:
                    type: boolean
                    example: true
                  status:
                    type: integer
                    example: 1
                  place:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: "ТЦ Мега"
                      latitude:
                        type: number
                        example: 55.75
                      longitude:
                        type: number
                        example: 37.62
                      address_kladr:
                        type: string
                        example: "7700000000000"
                      logo:
                        type: string
                        example: null
                        nullable: true
                      region:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Москва
                      brand:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 5
                          name:
                            type: string
                            example: "Brand X"
                          logo:
                            type: string
                            example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                          description:
                            type: string
                            example: "Описание бренда"
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 5
                      phone:
                        type: string
                        example: "+79000000000"
                      email:
                        type: string
                        example: null
                        nullable: true
                      logo:
                        type: string
                        example: null
                        nullable: true
                      roles:
                        type: array
                        example:
                          - id: 2
                            name: client
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            name:
                              type: string
                              example: client
                      name:
                        type: string
                        example: Иван
                  orderActivities:
                    type: array
                    example:
                      - id: 1
                        viewActivity:
                          id: 1
                          name: Промоутер
                          detailName: Промоутер
                          previewText: null
                          logo: null
                          traveling: false
                          standard: null
                        count: 3
                        dateStart: "2026-07-10T09:00:00.000000Z"
                        dateEnd: "2026-07-10T18:00:00.000000Z"
                        needFoto: true
                        dateActivity: []
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        viewActivity:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: Промоутер
                            detailName:
                              type: string
                              example: Промоутер
                            previewText:
                              type: string
                              example: null
                              nullable: true
                            logo:
                              type: string
                              example: null
                              nullable: true
                            traveling:
                              type: boolean
                              example: false
                            standard:
                              type: string
                              example: null
                              nullable: true
                        count:
                          type: integer
                          example: 3
                        dateStart:
                          type: string
                          example: "2026-07-10T09:00:00.000000Z"
                        dateEnd:
                          type: string
                          example: "2026-07-10T18:00:00.000000Z"
                        needFoto:
                          type: boolean
                          example: true
                        dateActivity:
                          type: array
                          example: []
                  acceptUser:
                    type: string
                    example: null
                    nullable: true
                  statistic:
                    type: array
                    example: []
                  project:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: "Project A"
                      dateStart:
                        type: string
                        example: "2026-01-01"
                      dateEnd:
                        type: string
                        example: "2026-12-31"
                      timeStart:
                        type: string
                        example: "09:00"
                      timeEnd:
                        type: string
                        example: "18:00"
                      brand:
                        type: array
                        example:
                          - id: 5
                            name: "Brand X"
                            logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description: "Описание бренда"
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 5
                            name:
                              type: string
                              example: "Brand X"
                            logo:
                              type: string
                              example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description:
                              type: string
                              example: "Описание бренда"
                  createdAt:
                    type: string
                    example: "2026-07-07T14:00:00.000000Z"
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Role not allowed."
                properties:
                  message:
                    type: string
                    example: "Role not allowed."
        422:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "The given data was invalid."
                  errors: []
                properties:
                  message:
                    type: string
                    example: "The given data was invalid."
                  errors:
                    type: array
                    example: []
      tags:
        - Client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: integer
                  description: "Идентификатор заказа."
                  example: 391
                viewActivityId:
                  type: string
                  description: "Идентификатор вида деятельности. Must match an existing stored value."
                  example: 1
                orderActivity:
                  type: string
                  description: "Идентификатор активности заказа для обновления. Must match an existing stored value."
                  example: 12
                count:
                  type: integer
                  description: "Количество. Must be at least 1."
                  example: 3
                dateStart:
                  type: string
                  description: "Дата начала активности. Must be a valid date. Must be a date after <code>now</code>."
                  example: "2026-07-10T09:00:00Z"
                dateEnd:
                  type: string
                  description: "Дата окончания активности. Must be a valid date. Must be a date after <code>dateStart</code>."
                  example: "2026-07-10T18:00:00Z"
                needFoto:
                  type: boolean
                  description: "Требуется ли фото."
                  example: true
                dateActivity:
                  type: array
                  description: "Массив временных интервалов активности. Must have at least 1 items."
                  example:
                    - timeStart: "2026-07-10T09:00:00Z"
                      timeEnd: "2026-07-10T18:00:00Z"
                      placeIds:
                        - 1
                  items:
                    type: object
                    properties:
                      timeStart:
                        type: string
                        description: "Время начала интервала активности. Must be a valid date. Must be a date after <code>now</code>."
                        example: "2026-07-10T09:00:00Z"
                      timeEnd:
                        type: string
                        description: "Время окончания интервала активности. Must be a valid date. Must be a date after <code>timeStart</code>."
                        example: "2026-07-10T18:00:00Z"
                      placeIds:
                        type: array
                        description: "Идентификатор площадки. Must match an existing stored value."
                        example:
                          - 1
                        items:
                          type: string
                    required:
                      - timeStart
                      - timeEnd
                      - placeIds
              required:
                - orderId
                - orderActivity
  /api/personal/deleteOrderActivity:
    post:
      summary: "Удалить активность из заказа."
      operationId: ""
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 391
                  selfEmployed: true
                  status: 1
                  place:
                    id: 1
                    name: "ТЦ Мега"
                    latitude: 55.75
                    longitude: 37.62
                    address_kladr: "7700000000000"
                    logo: null
                    region:
                      id: 1
                      name: Москва
                    brand:
                      id: 5
                      name: "Brand X"
                      logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                      description: "Описание бренда"
                  user:
                    id: 5
                    phone: "+79000000000"
                    email: null
                    logo: null
                    roles:
                      - id: 2
                        name: client
                    name: Иван
                  orderActivities:
                    - id: 1
                      viewActivity:
                        id: 1
                        name: Промоутер
                        detailName: Промоутер
                        previewText: null
                        logo: null
                        traveling: false
                        standard: null
                      count: 3
                      dateStart: "2026-07-10T09:00:00.000000Z"
                      dateEnd: "2026-07-10T18:00:00.000000Z"
                      needFoto: true
                      dateActivity: []
                  acceptUser: null
                  statistic: []
                  project:
                    id: 1
                    name: "Project A"
                    dateStart: "2026-01-01"
                    dateEnd: "2026-12-31"
                    timeStart: "09:00"
                    timeEnd: "18:00"
                    brand:
                      - id: 5
                        name: "Brand X"
                        logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                        description: "Описание бренда"
                  createdAt: "2026-07-07T14:00:00.000000Z"
                properties:
                  id:
                    type: integer
                    example: 391
                  selfEmployed:
                    type: boolean
                    example: true
                  status:
                    type: integer
                    example: 1
                  place:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: "ТЦ Мега"
                      latitude:
                        type: number
                        example: 55.75
                      longitude:
                        type: number
                        example: 37.62
                      address_kladr:
                        type: string
                        example: "7700000000000"
                      logo:
                        type: string
                        example: null
                        nullable: true
                      region:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Москва
                      brand:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 5
                          name:
                            type: string
                            example: "Brand X"
                          logo:
                            type: string
                            example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                          description:
                            type: string
                            example: "Описание бренда"
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 5
                      phone:
                        type: string
                        example: "+79000000000"
                      email:
                        type: string
                        example: null
                        nullable: true
                      logo:
                        type: string
                        example: null
                        nullable: true
                      roles:
                        type: array
                        example:
                          - id: 2
                            name: client
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            name:
                              type: string
                              example: client
                      name:
                        type: string
                        example: Иван
                  orderActivities:
                    type: array
                    example:
                      - id: 1
                        viewActivity:
                          id: 1
                          name: Промоутер
                          detailName: Промоутер
                          previewText: null
                          logo: null
                          traveling: false
                          standard: null
                        count: 3
                        dateStart: "2026-07-10T09:00:00.000000Z"
                        dateEnd: "2026-07-10T18:00:00.000000Z"
                        needFoto: true
                        dateActivity: []
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        viewActivity:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: Промоутер
                            detailName:
                              type: string
                              example: Промоутер
                            previewText:
                              type: string
                              example: null
                              nullable: true
                            logo:
                              type: string
                              example: null
                              nullable: true
                            traveling:
                              type: boolean
                              example: false
                            standard:
                              type: string
                              example: null
                              nullable: true
                        count:
                          type: integer
                          example: 3
                        dateStart:
                          type: string
                          example: "2026-07-10T09:00:00.000000Z"
                        dateEnd:
                          type: string
                          example: "2026-07-10T18:00:00.000000Z"
                        needFoto:
                          type: boolean
                          example: true
                        dateActivity:
                          type: array
                          example: []
                  acceptUser:
                    type: string
                    example: null
                    nullable: true
                  statistic:
                    type: array
                    example: []
                  project:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: "Project A"
                      dateStart:
                        type: string
                        example: "2026-01-01"
                      dateEnd:
                        type: string
                        example: "2026-12-31"
                      timeStart:
                        type: string
                        example: "09:00"
                      timeEnd:
                        type: string
                        example: "18:00"
                      brand:
                        type: array
                        example:
                          - id: 5
                            name: "Brand X"
                            logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description: "Описание бренда"
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 5
                            name:
                              type: string
                              example: "Brand X"
                            logo:
                              type: string
                              example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description:
                              type: string
                              example: "Описание бренда"
                  createdAt:
                    type: string
                    example: "2026-07-07T14:00:00.000000Z"
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Role not allowed."
                properties:
                  message:
                    type: string
                    example: "Role not allowed."
        422:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "The given data was invalid."
                  errors: []
                properties:
                  message:
                    type: string
                    example: "The given data was invalid."
                  errors:
                    type: array
                    example: []
      tags:
        - Client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orderActivityId:
                  type: integer
                  description: "Идентификатор активности заказа для удаления. Must match an existing stored value."
                  example: 12
                orderId:
                  type: integer
                  description: "Идентификатор заказа."
                  example: 391
              required:
                - orderActivityId
                - orderId
  /api/personal/getViewActivitiesForOrder:
    get:
      summary: "Получить виды деятельности для заказа."
      operationId: ""
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - id: 1
                      name: Промоутер
                      detailName: Промоутер
                      previewText: null
                      logo: null
                      traveling: false
                      standard: null
                properties:
                  data:
                    type: array
                    example:
                      - id: 1
                        name: Промоутер
                        detailName: Промоутер
                        previewText: null
                        logo: null
                        traveling: false
                        standard: null
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Промоутер
                        detailName:
                          type: string
                          example: Промоутер
                        previewText:
                          type: string
                          example: null
                          nullable: true
                        logo:
                          type: string
                          example: null
                          nullable: true
                        traveling:
                          type: boolean
                          example: false
                        standard:
                          type: string
                          example: null
                          nullable: true
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Role not allowed."
                properties:
                  message:
                    type: string
                    example: "Role not allowed."
        422:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "The given data was invalid."
                  errors: []
                properties:
                  message:
                    type: string
                    example: "The given data was invalid."
                  errors:
                    type: array
                    example: []
      tags:
        - Client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: integer
                  description: "Идентификатор заказа."
                  example: 391
              required:
                - orderId
  /api/personal/repeatOrder:
    post:
      summary: "Повторить отменённый заказ."
      operationId: ""
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 391
                  selfEmployed: true
                  status: 1
                  place:
                    id: 1
                    name: "ТЦ Мега"
                    latitude: 55.75
                    longitude: 37.62
                    address_kladr: "7700000000000"
                    logo: null
                    region:
                      id: 1
                      name: Москва
                    brand:
                      id: 5
                      name: "Brand X"
                      logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                      description: "Описание бренда"
                  user:
                    id: 5
                    phone: "+79000000000"
                    email: null
                    logo: null
                    roles:
                      - id: 2
                        name: client
                    name: Иван
                  orderActivities:
                    - id: 1
                      viewActivity:
                        id: 1
                        name: Промоутер
                        detailName: Промоутер
                        previewText: null
                        logo: null
                        traveling: false
                        standard: null
                      count: 3
                      dateStart: "2026-07-10T09:00:00.000000Z"
                      dateEnd: "2026-07-10T18:00:00.000000Z"
                      needFoto: true
                      dateActivity: []
                  acceptUser: null
                  statistic: []
                  project:
                    id: 1
                    name: "Project A"
                    dateStart: "2026-01-01"
                    dateEnd: "2026-12-31"
                    timeStart: "09:00"
                    timeEnd: "18:00"
                    brand:
                      - id: 5
                        name: "Brand X"
                        logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                        description: "Описание бренда"
                  createdAt: "2026-07-07T14:00:00.000000Z"
                properties:
                  id:
                    type: integer
                    example: 391
                  selfEmployed:
                    type: boolean
                    example: true
                  status:
                    type: integer
                    example: 1
                  place:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: "ТЦ Мега"
                      latitude:
                        type: number
                        example: 55.75
                      longitude:
                        type: number
                        example: 37.62
                      address_kladr:
                        type: string
                        example: "7700000000000"
                      logo:
                        type: string
                        example: null
                        nullable: true
                      region:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Москва
                      brand:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 5
                          name:
                            type: string
                            example: "Brand X"
                          logo:
                            type: string
                            example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                          description:
                            type: string
                            example: "Описание бренда"
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 5
                      phone:
                        type: string
                        example: "+79000000000"
                      email:
                        type: string
                        example: null
                        nullable: true
                      logo:
                        type: string
                        example: null
                        nullable: true
                      roles:
                        type: array
                        example:
                          - id: 2
                            name: client
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            name:
                              type: string
                              example: client
                      name:
                        type: string
                        example: Иван
                  orderActivities:
                    type: array
                    example:
                      - id: 1
                        viewActivity:
                          id: 1
                          name: Промоутер
                          detailName: Промоутер
                          previewText: null
                          logo: null
                          traveling: false
                          standard: null
                        count: 3
                        dateStart: "2026-07-10T09:00:00.000000Z"
                        dateEnd: "2026-07-10T18:00:00.000000Z"
                        needFoto: true
                        dateActivity: []
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        viewActivity:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: Промоутер
                            detailName:
                              type: string
                              example: Промоутер
                            previewText:
                              type: string
                              example: null
                              nullable: true
                            logo:
                              type: string
                              example: null
                              nullable: true
                            traveling:
                              type: boolean
                              example: false
                            standard:
                              type: string
                              example: null
                              nullable: true
                        count:
                          type: integer
                          example: 3
                        dateStart:
                          type: string
                          example: "2026-07-10T09:00:00.000000Z"
                        dateEnd:
                          type: string
                          example: "2026-07-10T18:00:00.000000Z"
                        needFoto:
                          type: boolean
                          example: true
                        dateActivity:
                          type: array
                          example: []
                  acceptUser:
                    type: string
                    example: null
                    nullable: true
                  statistic:
                    type: array
                    example: []
                  project:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: "Project A"
                      dateStart:
                        type: string
                        example: "2026-01-01"
                      dateEnd:
                        type: string
                        example: "2026-12-31"
                      timeStart:
                        type: string
                        example: "09:00"
                      timeEnd:
                        type: string
                        example: "18:00"
                      brand:
                        type: array
                        example:
                          - id: 5
                            name: "Brand X"
                            logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description: "Описание бренда"
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 5
                            name:
                              type: string
                              example: "Brand X"
                            logo:
                              type: string
                              example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description:
                              type: string
                              example: "Описание бренда"
                  createdAt:
                    type: string
                    example: "2026-07-07T14:00:00.000000Z"
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Role not allowed."
                properties:
                  message:
                    type: string
                    example: "Role not allowed."
        422:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "The given data was invalid."
                  errors: []
                properties:
                  message:
                    type: string
                    example: "The given data was invalid."
                  errors:
                    type: array
                    example: []
      tags:
        - Client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: integer
                  description: "Идентификатор отменённого заказа для повторения."
                  example: 391
              required:
                - orderId
  /api/personal/getProjectForOrder:
    get:
      summary: "Получить проекты, доступные для указанного заказа."
      operationId: ""
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - id: 1
                      name: "Project A"
                      dateStart: "2026-01-01"
                      dateEnd: "2026-12-31"
                      timeStart: "09:00"
                      timeEnd: "18:00"
                      brand:
                        - id: 5
                          name: "Brand X"
                          logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                          description: "Описание бренда"
                properties:
                  data:
                    type: array
                    example:
                      - id: 1
                        name: "Project A"
                        dateStart: "2026-01-01"
                        dateEnd: "2026-12-31"
                        timeStart: "09:00"
                        timeEnd: "18:00"
                        brand:
                          - id: 5
                            name: "Brand X"
                            logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description: "Описание бренда"
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: "Project A"
                        dateStart:
                          type: string
                          example: "2026-01-01"
                        dateEnd:
                          type: string
                          example: "2026-12-31"
                        timeStart:
                          type: string
                          example: "09:00"
                        timeEnd:
                          type: string
                          example: "18:00"
                        brand:
                          type: array
                          example:
                            - id: 5
                              name: "Brand X"
                              logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                              description: "Описание бренда"
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 5
                              name:
                                type: string
                                example: "Brand X"
                              logo:
                                type: string
                                example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                              description:
                                type: string
                                example: "Описание бренда"
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "Role not allowed."
                properties:
                  message:
                    type: string
                    example: "Role not allowed."
        422:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "The given data was invalid."
                  errors: []
                properties:
                  message:
                    type: string
                    example: "The given data was invalid."
                  errors:
                    type: array
                    example: []
      tags:
        - Client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: integer
                  description: "Идентификатор заказа."
                  example: 391
              required:
                - orderId
  /api/common/getBids:
    get:
      summary: "Получить публичный список заявок для самозанятых."
      operationId: ""
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - id: 1
                      place:
                        id: 1
                        name: "ТЦ Мега"
                        latitude: 55.75
                        longitude: 37.62
                        address_kladr: "7700000000000"
                        logo: null
                        region:
                          id: 1
                          name: Москва
                        brand:
                          id: 5
                          name: "Brand X"
                          logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                          description: "Описание бренда"
                      price: 2500
                      viewActivity:
                        id: 1
                        name: Промоутер
                        detailName: Промоутер
                        previewText: null
                        logo: null
                        traveling: false
                        standard: null
                      dateStart: "2026-07-10T09:00:00.000000Z"
                      dateEnd: "2026-07-10T18:00:00.000000Z"
                      project:
                        id: 1
                        name: "Project A"
                        dateStart: "2026-01-01"
                        dateEnd: "2026-12-31"
                        timeStart: "09:00"
                        timeEnd: "18:00"
                        brand:
                          - id: 5
                            name: "Brand X"
                            logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description: "Описание бренда"
                      createdAt: "2026-07-07T14:00:00.000000Z"
                properties:
                  data:
                    type: array
                    example:
                      - id: 1
                        place:
                          id: 1
                          name: "ТЦ Мега"
                          latitude: 55.75
                          longitude: 37.62
                          address_kladr: "7700000000000"
                          logo: null
                          region:
                            id: 1
                            name: Москва
                          brand:
                            id: 5
                            name: "Brand X"
                            logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                            description: "Описание бренда"
                        price: 2500
                        viewActivity:
                          id: 1
                          name: Промоутер
                          detailName: Промоутер
                          previewText: null
                          logo: null
                          traveling: false
                          standard: null
                        dateStart: "2026-07-10T09:00:00.000000Z"
                        dateEnd: "2026-07-10T18:00:00.000000Z"
                        project:
                          id: 1
                          name: "Project A"
                          dateStart: "2026-01-01"
                          dateEnd: "2026-12-31"
                          timeStart: "09:00"
                          timeEnd: "18:00"
                          brand:
                            - id: 5
                              name: "Brand X"
                              logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                              description: "Описание бренда"
                        createdAt: "2026-07-07T14:00:00.000000Z"
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        place:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: "ТЦ Мега"
                            latitude:
                              type: number
                              example: 55.75
                            longitude:
                              type: number
                              example: 37.62
                            address_kladr:
                              type: string
                              example: "7700000000000"
                            logo:
                              type: string
                              example: null
                              nullable: true
                            region:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1
                                name:
                                  type: string
                                  example: Москва
                            brand:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 5
                                name:
                                  type: string
                                  example: "Brand X"
                                logo:
                                  type: string
                                  example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                                description:
                                  type: string
                                  example: "Описание бренда"
                        price:
                          type: integer
                          example: 2500
                        viewActivity:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: Промоутер
                            detailName:
                              type: string
                              example: Промоутер
                            previewText:
                              type: string
                              example: null
                              nullable: true
                            logo:
                              type: string
                              example: null
                              nullable: true
                            traveling:
                              type: boolean
                              example: false
                            standard:
                              type: string
                              example: null
                              nullable: true
                        dateStart:
                          type: string
                          example: "2026-07-10T09:00:00.000000Z"
                        dateEnd:
                          type: string
                          example: "2026-07-10T18:00:00.000000Z"
                        project:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: "Project A"
                            dateStart:
                              type: string
                              example: "2026-01-01"
                            dateEnd:
                              type: string
                              example: "2026-12-31"
                            timeStart:
                              type: string
                              example: "09:00"
                            timeEnd:
                              type: string
                              example: "18:00"
                            brand:
                              type: array
                              example:
                                - id: 5
                                  name: "Brand X"
                                  logo: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                                  description: "Описание бренда"
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                    example: 5
                                  name:
                                    type: string
                                    example: "Brand X"
                                  logo:
                                    type: string
                                    example: "https://preprod.marriator-api.fivecorners.ru/storage/source/brand/5/logo.png"
                                  description:
                                    type: string
                                    example: "Описание бренда"
                        createdAt:
                          type: string
                          example: "2026-07-07T14:00:00.000000Z"
      tags:
        - Common
      security: []
  /api/login:
    get:
      summary: ""
      operationId: getApiLogin
      description: ""
      parameters: []
      responses:
        401:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
[...]
